<!DOCTYPE html>
<html
        lang="ru"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/admin.html}"
>

<head>
    <title>AdminLTE 3 | Blank Page</title>
</head>

<body>

    <div layout:fragment="content" class="content-wrapper py-4">

        <section class="content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>

                    <div class="card-tools">
                        <a href="add.html" class="btn btn-success">Add</a>
                    </div>
                </div>
                <div class="card-body">
                    Start creating your amazing application!
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>

        </section>
    </div>
</body>
</html>