<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Personal web site Saydum Khalibekov Full Stack developer</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/web/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/web/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link th:href="@{/web/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/web/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/web/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/web/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/web/assets/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: DevFolio
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style th:inline="css">
        i {
            font-size: 38px;
            color: white;
        }
        i:hover {
            color: #0a53be;
        }
    </style>
</head>

<body>

<header id="header" class="fixed-top">

    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo">
            <a th:href="@{/}">
                saydum.ru
            </a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul class="text-center">
                <li>
                    <a class="nav-link scrollto"
                       th:href="@{/}">
                        Home
                    </a>
                </li>

                <li>
                    <a class="nav-link scrollto "
                       th:href="@{/posts}">
                        Blog
                    </a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <p class="pt-3">
            <a class="btn btn-outline-primary"
               href="https://drive.google.com/file/d/1kAmm3P7H5Hna9BrW7AnvD07_-14hk52w/view?usp=sharing" role="button">
                Download CV
            </a>
        </p>
    </div>

</header>

<main>
    <div id="hero" class="hero route bg-image" th:style="'background: url(/web/assets/img/bg.jpg); background-position: center; background-repeat: no-repeat;'">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <p class="hero-subtitle"><span class="typed"
                                                   data-typed-items="Hello!, My name is Saydum, I am Full Stack developer"></span></p>
                    <div class="mb-4">
                        <ul class="nav justify-content-center">

                            <li class="nav-item">
                                <a href="https://github.com/saydum/" class="nav-link" target="_blank">
                                    <i class="bi bi-github"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="https://t.me/saydum47" class="nav-link" target="_blank">
                                    <i class="bi bi-telegram"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UCGgou2mPkfTyv9SULB2nckg" class="nav-link" target="_blank">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Vendor JS Files -->
<script th:src="@{/web/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/web/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/web/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/web/assets/vendor/typed.js/typed.umd.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/web/assets/js/main.js}"></script>

</body>

</html>